

@media only screen and (min-width : 1198px) and (max-width : 1224px) {
    body{
        background-color: yello;
    }
}
@media only screen and (min-width : 976px) and (max-width : 1198px) {
    body{
        background-color: gree;
    }
    .my-form {
        padding: 65px 30px 26px 30px;
    }
    .my-p-bar-padding {
        padding: 12px 21px;
    }
}
@media only screen /*and (min-width : 768px)*/ and (max-width : 976px) {
    body{
        background-color: blu;
    }
    .my-bar{
        margin: 39px 5px -27px 5px;
    }
    .my-p-bar-padding {
        padding: 16px 21px;
    }
    h4{
        font-size: 15px;
    }
    .my-form{
        padding: 16px 30px 26px 30px;
    }
    p{
        margin-top: 0;
        margin-bottom: 1rem;
        font-size: 10px;
}


@media only screen and (max-width : 766px) {
    body{
        background-color: brown;
    }
    .special-li {
        margin-left: 5px;
    }
    .my-search{
        width: 145px;
        height: 45px;
    }
}

@media only screen and (min-width : 480px) and (max-width : 595px) {
    body{
        background-color: pin;
    }
}
@media only screen and (min-width : 320px) and (max-width : 480px) {
    body{
        background-color: purpl;
    }
    
}





